
127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6



{{ ipv4subnet }}10   ad        ad.{{ domain }}
{{ ipv4subnet }}20   sql       sql.{{ domain }}
{{ ipv4subnet }}30   ctx65-1   ctx65-1.{{ domain }}
{{ ipv4subnet }}31   ctx65-2   ctx65-2.{{ domain }}
{{ ipv4subnet }}31   ctx65-2   ctx713-1.{{ domain }}
