[logging]
 default = FILE:/var/log/krb5libs.log
 kdc = FILE:/var/log/krb5kdc.log
 admin_server = FILE:/var/log/kadmind.log

[libdefaults]
 dns_lookup_realm = false
 dns_lookup_kdc = false
 ticket_lifetime = 24h
 renew_lifetime = 7d
 forwardable = true
 rdns = false
 default_realm = {{ domain|upper }}
 #default_ccache_name = KEYRING:persistent:%{uid}

[realms]
        {{ domain|upper }} = {
                kdc = {{ serverprefix }}{{ location }}adc-001.{{ domain|lower }}
                default_domain = {{ domain|lower }}
        }
[domain_realm]
        {{ domain|lower }} = {{ domain|upper }}
